
.panel.code .code-field {
  text-align: center;
}

.panel.code input {
  font-size: 1.8em;
  font-weight: lighter;
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
  margin: 32px 0 8px;
  padding: 8px;
}

.panel.code .action button {
  margin: 16px 0;
  border: none;
  background: white;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.panel.code .action .material-icons {
  font-size: 88px;
}

.panel.code .action {
  text-align: center;
  padding: 16px;
  display: grid;
}

.panel.code .divider {
  display: flex;
  margin: 32px 8em;
}

.panel.code .divider hr {
  width: 100%;
  border-top: 2px solid lightgrey;
  border-radius: 5px;
}

.panel.code .divider span {
  margin: 0 16px;
}