/*wrapper adequacy*/
#Itmov {
  height: 100% !important;
}

#searchArea.confirm-send ~ #routeSender {
  display: none;
}

body #obs {
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: transparent;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  position: absolute;
  overflow: hidden;
  color: #000015;
}

/*styling*/
body, * {
  font-family:  "RobotoDraft", "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
  text-align: center;
  width: 100%;
  background-color: transparent;
}

.container .submit button {
  background-color: #26c5c3;
  color: white;
}

.container h6 {
  color: #000015;
  display: flex;
  justify-content: space-between;
}

.container h6 i.material-icons {
  cursor: pointer;
  font-size: 40px;
  margin-top: -24px;
}