.container ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 40px;
}

.container li button {
  flex-grow: 1;
  display: flex;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
}

.container li {
  display: flex;
  text-align: left;
}

.container p {
  margin: 0;
}

.container li div {
  flex-grow: 1;
  margin: 8px 16px;
}

.container .price {
  text-align: right;
}

.container .caption {
  font-size: 13px;
  color: grey;
  margin: 0;
}

.container .list-avatar {
  vertical-align: middle;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}