.more-button {
  border-radius: 4px;
}

.more-button.active {
  background-color: #c6cdd9;;
}

.accordion .caption .chip {
  background: #424e64;
  font-size: 12px;
  border-radius: 16px;
  padding: 2px 6px;
  margin: 0;
  margin-right: 4px;
  margin-top: 8px;
}
