.panel.payment > button {
  width: 100%;
  margin: 16px 0;
  border: none;
  background: black;
  font-size: 18px;
  color: white;
  padding: 8px;
  position: sticky;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.payment-button {
  outline: none;
}

.payment-button div {
  display: flex;
}

.payment-button div p:first-child {
  flex-grow: 1;
}

.accordion#payment > div {
  display: flex;
}

.accordion#payment > div p:first-child {
  flex-grow: 1;
}
