.panel.payments > button {
  width: 100%;
  margin: 16px 0;
  border: none;
  background: #000015;
  font-size: 18px;
  color: white;
  padding: 8px;
  position: sticky;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.payments-button {
  border-radius: 4px;
}

.payments-button.active {
  background-color: #c6cdd9;;
}

.payments-button div {
  display: flex;
}

.payments-button div p:first-child {
  flex-grow: 1;
}

.accordion#payments > div {
  display: flex;
}

.accordion#payments > div p:first-child {
  flex-grow: 1;
}
